<app-project-navbar></app-project-navbar>

<app-create-and-call-function></app-create-and-call-function>

<app-events></app-events>

<app-get-text-box-value-and-print></app-get-text-box-value-and-print>

<app-simple-counter></app-simple-counter>

<app-basic-rule-of-style></app-basic-rule-of-style>

<app-property-binding></app-property-binding>

<app-if-else></app-if-else>

<app-multiple-condition-else-if></app-multiple-condition-else-if>

<app-switch-case></app-switch-case>

<app-for-loop></app-for-loop>

<app-nested-loop></app-nested-loop>

<app-style-binding></app-style-binding>

<app-header></app-header>

<app-form></app-form>

<app-toggle-element></app-toggle-element>

<app-use-bootstrap></app-use-bootstrap>

<app-material-ui></app-material-ui>

<app-todo-list></app-todo-list>

<app-parent></app-parent>