<div>
    <h2>5.Basic Rule of Style</h2>

    <p style="color: green; background: lightgray;" class="Internal-CSS Component-CSS Global-CSS">Inline-CSS</p>
    
    <p class="Internal-CSS">Internal CSS</p>
    <style>
        .Internal-CSS{
            color: orange;
            background: lightcyan;
        }
    </style>

    <p class="Component-CSS">Component CSS</p>
    <p class="Global-CSS">Global CSS</p><br>

    <h4>Note: CSS Priority</h4>
    <h4>Highest: Inline-CSS</h4>
    <h4>2nd-Highest: Internal(component.html) CSS</h4>
    <h4>3rd-Highest: Component(component.scss) CSS</h4>
    <h4>Lowest: Global(styles.css) CSS</h4>
</div>