/* You can add global styles to this file, and also import other style files */
*body{
    margin: 0px;
}


.Global-CSS, Internal-CSS{
    color: red;
    background: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// bootstrap
@import url('bootstrap/dist/css/bootstrap.min.css');