<div>
    <h2>16.Material-UI in Angular</h2>

    <button mat-raised-button color="primary" type="button" mat-button (click)="clicked = true">
        Basic button
    </button>

    <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>


    <h4>How to use Material-UI</h4>
    <h5>1.Install: $ng add @angular/material</h5>
    <h5>2.</h5>
</div>