<div>
    <h2>9.Switch-Case</h2>

    <div [ngSwitch]="color">
        <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
        <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
        <h1 *ngSwitchCase="'violet'" style="color: violet;">Violet Color</h1>
        <h1 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h1>
        <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
        <h1 *ngSwitchDefault >Unknown Color</h1>
    </div>
</div>